*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

:root {
  --col-orange: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .themeselector {
  background-color: #1e8ed8;
  border: 1px solid black;
} */

.checkbox-container {
  background-color: #1e8ed8;
}
.checkbox-container input {
  background-color: #1e8ed8;
  height: 24px;
  width: 24px;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #d5fdff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.calculator {
  max-width: 400px;
  max-height: 800px;
  padding: 16px 16px 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}
.darkmode {
  background-color: #012030;
  color: #dafdba;
  border: 1px solid white;
}

.display {
  border: 1px solid #d5ffe4;
  background: linear-gradient(
    to right bottom,
    hsla(140, 100%, 92%, 0.4),
    hsla(140, 100%, 92%, 0.1)
  );
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 80px;
  padding-right: 6px;
  font-weight: bold;
  margin: 40px 8px 32px;
  text-align: end;
  height: 100%;
}

.keypad {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 8px;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

button {
  min-width: 80px;
  height: 80px;
  font-size: 32px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  background-color: #012030;
  color: white;
  cursor: pointer;
}
button:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
}
button:active {
  background-color: aliceblue;
  color: orange;
}
.row > .operators.doublewidth {
  grid-column: span 2;
}

.toggles {
  background-color: rgb(220, 220, 220);
  color: rgba(0, 0, 0, 1);
}

.operators {
  background-color: orange;
}
.operators:focus {
  background-color: aliceblue;
  color: orange;
}

/*






*/

.page {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

.page::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100vh;
  top: 45%;
  left: 50%;
  background-color: #d5ffe4;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);

  animation: wave 7s ease-in-out infinite alternate,
    colorchange 9s ease-in-out infinite alternate;
  -webkit-animation: wave 7s ease-in-out infinite alternate,
    colorchange 9s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes colorchange {
  0% {
    background-color: #d5ffe4;
  }
  50% {
    background-color: #d5fdff;
  }
  100% {
    background-color: #d5ffe4;
  }
}

@keyframes wave {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to {
    transform: translateX(-30%) skew(10deg, 0);
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-color: #d5ffe4;
  }
  50% {
    background-color: #1e8ed8;
  }
  100% {
    background-color: #d5ffe4;
  }
}

@-webkit-keyframes wave {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to {
    transform: translateX(-30%) skew(10deg, 0);
  }
}

/*



MEDIA QUERY
*/
@media only screen and (min-width: 600px) {
  .container {
    margin: 120px auto;
  }
  .calculator {
    border-radius: 8px;
    border: 2px solid #d5ffe4;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    /* min-height: 10px; */
  }
}
